.navbar {
    display: flex;
    justify-content: flex-start;
    padding: 0.2rem calc((100vw - 1000px) / 2);
    top: 0;
    left: 0;
    height: 85px;
    background: #3f1061;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.logoLink {
    width: 60px;
    background-repeat: no-repeat;
    background-size: contain;
}