.textCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
}

.smallText {
    font-size: 0.75rem;
}